[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
mysql-connector-python = "*"
flask-migrate = "*"
environ = "*"
pyjwt = "*"

[dev-packages]
pytest = "*"
black = "==21.5b2"
colorama = "*"

[requires]
python_version = "3.8"
