@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.about-bg {
    background: #307d99 url('../Assets/Images/about.bg.png');
    color: white;
    background-position: 90% 40%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
       
 }

h1 {
    
    font-size: 5em;
    text-align: center;

}


p {
    padding: 0em 4em .3em 4em;
    font-size: 1.8em;
    text-align: justify;
    line-height: 1.5em;
    font-weight: 500;
    
         
}


h2{
    font-size: 2.5em;
    text-align: center
}


