.pop {
background-color: #fff;
box-shadow: 0 0 20px rgba(131, 128, 128, 0.9);
border-radius: 10px ;
height: 40%;
width: fit-content;
display: flex;



}

.pop label{ 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.add{
    width: fit-content;
}

