.pop form{
background-color: #fff;
box-shadow: 0 0 20px rgba(131, 128, 128, 0.9);
overflow: hidden;
margin: 25px 5%;
border-radius: 10px ;
height: 40%;
width: 25%;
display: flex;



}

.pop label{ 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.add{
    width: fit-content;
}

