.report-business{
    background-color: #f0f3f5;
    box-sizing: border-box;
    padding: 2px;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    margin: 0;
}

.business-report-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    width: 100%;
}
.business-report-header .date-generated{
    margin-left: auto;
    font-family: PoppinsRegular;
    font-size: 0.61rem;
    color: #85888a;
    height: 48px;
    
}

.business-report-header .business-report-head{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}
.business-report-head .business-name{
    font-family: PoppinsRegular;
    font-size: 2rem;
    color:#6842ff;
    margin: 0;
    padding: 0;
}
.business-report-head .business-user{
    font-family: PoppinsRegular;
    font-size: 1rem;
    color: #85888a;
    margin: 0;
    padding: 0;
}

.report-business .business-report-summary .business-report-summary-header
,.report-business .business-product-report-summary .product-report-summary-header{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    border-radius:8px;
    background-color: #7fa2eb;
    color: white;
    font-family: PoppinsLight;
    font-size: 1rem;
    margin: 0;
    text-align: start;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.report-business .business-product-report-summary .product-name{
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #7fa2eb;
    color: white;
    font-family: PoppinsLight;
    font-size: 1rem;
    margin-top: 20px;
    text-align: start;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10%;
}

.report-business .business-report-summary .business-summary,
.report-business .business-product-report-summary .product-summary{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 10px;
}
.business-summaries ,.product-summaries{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-content: stretch;
    margin-top: 10px;

}
.summary-card{
    margin-bottom: 10%;
    margin-left: 3px;
}

.summary-card .summary-card-title{
    background-color:#fff;
    box-sizing: border-box;
    padding: 5px ;
    letter-spacing: 0.2px ;
    border-radius: 6px;
    color: #6842ff;
    font-family: PoppinsLight;
    font-size: 0.65rem;
    font-weight: 500;
    text-align: start;
    
}

.summary-card .summary-card-value{
    color: #7060eb;
    font-family: PoppinsRegular;
    padding-left: 10px;
    font-size: 0.6rem;
    margin-top: 10px;
}
.business-summary{

    display: none;
}

@media screen and (min-width:700px){
    .business-summaries{display: none;}
    .report-business{
      
        padding: 50px 20px 0 20px;
        width: 100vw;
        
    }
    
    .business-report-header .date-generated{
        
        font-size: 1rem;
    }
  .report-business .business-report-summary .business-report-summary-header
,.report-business .business-product-report-summary .product-report-summary-header{
    border-radius: 15px;
    background-color: #5847d3;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.report-business .business-product-report-summary .product-name{
    width: 30%;
    border-radius: 15px;
    background-color: #5847d3;
    padding:10px;
    
    text-align: center;
}
.summary-card{
    width: 30%;
    margin-bottom: 40px;
}
.summary-card .summary-card-title{
   
    padding: 5px 0px 5px 10px;
    border-radius: 10px;
    
    font-size: 1rem;
}
.summary-card .summary-card-value{
   
    font-size: 1.2rem;
}

}

