@import url('./fonts.css');

  body{
    background: linear-gradient(to bottom,#2BBFD0,#9C89E7)

  }
  .container-log-reg{
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: 100%;
    min-width: 360px;
    padding: 30px 50px;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* background: linear-gradient(to bottom,#2BBFD0,#9C89E7) */
    
    
   
  }
  
  .d-flex{
    display:flex;
  }

  .left-section{
    display: none;
  }
  
  /* Login Form */
  .login-form{
    width: 100%;
    height: 100%;
  }
  .login-form .button-mobile, .register-form .button-mobile{
    width: 20px;
    border: none;
    border-radius: none;
    background-color: unset;
    color: white;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }
  .login-form .logreg-header, .register-form .logreg-header{
    font-family: monospace;
    font-family: Bold;
    font-size: 35px;
    color: white;
  }
  .login-form form {
      display: flex;
      flex-direction: column;
      width:100%;
      height: 100%;
      /* justify-content: center;      */
  }
  
  .login-form .label,.login-form input{
    margin: 10px;
    display: block;
  }
  .login-form .label{
    margin-top: 60px;
    font-family: PoppinsLight;
    color: white;
    font-size: 1.4rem;
    margin-left: 0;
  }
  
  
  .login-form input{
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    background: none;
    /* height:50%; */
    width: 80%;
    padding: 0;
    margin-left: 0;
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: white;
    font-family: PoppinsLight;
  }
  .forgot-pass{
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    color: #6880FE;
  }
  .forgot-pass-link{
    text-decoration: none;
    font-size: 1.2rem;
    font-family: PoppinsLight;
    color: white;
  }
  #login{
    width: 60%;
    margin-top: 40px;
    margin-bottom:0;
    background-color: white;
    color: #818f91;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    padding:10px 40px ;
    /* align-self: center; */
    cursor: pointer;
    font-family: PoppinsRegular;
  }
  
  .sign-up-link{
    color:white;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 2rem;
    text-decoration: none;
    font-family: PoppinsLight;
    font-size: 1.3rem;
    
  }
  
  /* Registration Form */
  .register{
    display: flex;
    width: 100%;
    height: 100%;
  }
  .register-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0 20px;
    padding: 20px;
  }
  
  .register-form label,.register-form input{
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 0px;
    display: block;
  }
  
  .register-form input{
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    background-color: unset;
    width: 100%;
    padding: 0;
    font-size: 1.2rem;
    color: white;
    font-family: PoppinsLight;
  }
  
  .register-form label{
    margin-top: 70px;
    font-family: PoppinsLight;
    color: white;
    font-size: 1.4rem;
  }
  
  #sign-up{
    width: 60%;
    padding: 0.5rem;
    margin: 0;
    margin-top: 4rem;
    background-color: white;
    color: #818f91;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    font-family: PoppinsRegular;
    
  }
  
  
  .log-in{
    color: #6880FE;
    margin-bottom: 30px;
    margin-top: 20px;
    text-decoration: none;
    color:white;
    font-family: PoppinsLight;
    font-size: 1.2rem;
  }
  .log-reg-btns{
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width:700px){
    .button-mobile{
      display:none;
    }
    
    .register,.login{
      width: 50%;
    }
    .login-form{
      width: 40%;
    }
    .register-form .label,.login-form.label{
      margin-top: 40px;
    }
    .left-section{
      width:80%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
    }
    .left-section-image{
      width: 80%;
      height: 80%;
      background-color: white;
      border-radius: 30px;
      align-self: center;
      margin-top: auto;
      margin-bottom: auto;
    }
    .logreg-header{
      align-self: center;
    }
    .log-reg-btns{
      flex-direction: row;
    }
    #sign-up,#login{
      width: 30%;
      height: 50px;
      border-radius: 22px;
    }
    .log-in{
      margin-top: 4rem;
      padding: 0.5em;
      align-self: flex-end;
      margin-left: auto;
      
    }
    .sign-up-link{
      margin-top: 40px;
      padding: 0.5em;
    }
    .login-form{
      padding: 0 1.4rem;
    }
    .login-form .button-desktop, .register-form .button-desktop{
      width: 20px;
      border: none;
      border-radius: none;
      background-color: unset;
      color: white;
      font-size: 2rem;
      padding: 0;
      margin: 0;
      margin-bottom: 20px;
    }
  }