.business{
    width: 400px;
    height: 120px;
    padding: 10px;
    padding-left: 20px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 00px 5px #888;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .business span{
    text-align: start;
    font-size: 1.3rem; 
    display: block;
    color: #273475;
    font-family: PoppinsBold;
    display: flex;
    align-items: center;
  }
  .business .delete-button{
    margin-left: auto;
    
  }
  .business .delete-button svg{
    fill:red;
    height: 20px;
    /* width: 20px; */
  }
  .business p{
    text-align: start;
    color: #273475;
    font-size: 0.8rem;
    font-family: PoppinsRegular;
  }
  .businesses{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    justify-content: center;
  }
  
  .business-section{
    display: flex;
    flex-direction: row;
    background-color: #f0f3f5;
    height: 100vh;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    width: 100%;
    padding: 10px;
  }
  .add-button{
    font-size: 3.5rem;
    color: #273475;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 5px #888;
    padding: 0px 15px 3px 15px;
    background-color: #fff;
    margin-top: 40px;
    align-self: auto;
    cursor: pointer;
  }
  
  .delete-product p{
    font-family: PoppinsBold;
    color:#273475
  }
  .delete-product span{
    font-family: PoppinsRegular;
  }
  
  .delete-product div{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  
  .delete-product .button{
    height: 30px;
    width: 80px;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
    margin-top: 10px;
    color: white;
    font-family: PoppinsRegular;
  }
  .delete-product .button:hover{
    cursor: pointer;
  }
  
  .business-dashboard{
    display: flex;
    flex-direction: row;
    background-color: #f0f3f5;
  }
  
  
  