body{
    /* margin-top: 0;
    margin-left: 0;
    margin-right: 0; */
    background: rgb(219,266,266);
  }
  
  .row{
  
    /* margin-top: 10px;
    margin-bottom: 10px; */
    background-color: white;
    width: 100%;
    /* border-radius: 30px; */
    align-self: stretch;
    align-content: stretch;
  
  
  }
  
  #main{
    margin: 0;
  }
  
  .details{
    padding: 10% 10%;
  }
  .container{
    padding: 0;
    margin: 0;
  
  }
  .filling{
    margin: 20px 10px;
  }
  
  .end{
    margin: 20px 10px;
  }
  
  
  
  .btn{
    text-align: center;
  }
  
  .btn:hover{
    color: black;
    background: white;
  }
  
  .image{
    max-width: 100%;
    background-color: #2C394B;
    padding: 10% 10%;
    /* margin-top: 20px; */
    text-align: center;
    border-radius: 30px;
  }
  
  
  /* Image Section */
  .car-images{
    border-radius: 90%;
    width: 40%;
    height: 40%;
    margin: 20px;
  
  }
  .car-header{
    color: white;
  }
  
  /* Footer Section */
  .footer{
    line-height: 1.5;
    padding: 7% 20%;
    text-align: center;
  }
  
  .footer-links{
    color: teal;
    margin: 10px 20px;
    text-decoration: none;
  }
  
  .footer-links:hover{
    color: black;
  }
  
  .Garage97{
    margin-top: 30px;
  }
  