.overview-overview-page {
  display: flex;
  background-color: #e6e6e6;
  flex-direction: row-reverse;
}

.overview-overview {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  /* row-gap: 10px; */
}
.black_white {
  height: fit-content;
  padding-top:10px;
  align-items: center;
  
}


.t-revenue {
  display: flex;
  flex-direction: column;
  height: 35%;
  /* width: 70%; */
  /* background-color: #fcfcfc; */
  box-shadow:0 2 #0072a7 ;
}
/* .progress{
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 500px;
} */
/* .actual-revenue {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */

.revenue {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: fit-content;
  background-color: #0072a7;
  margin: 10px 10px;
}

.revenue span{
  align-self: left;
  font-family: cursive;
  font-weight: bold;
  padding-left: 20px;
}

.revenue-amount {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-family: cursive;
  color: #6880fe;
}

.currency {
  font-family: PoppinsRegular;
  font-size: 1rem;
  color: #c0c0c0;
}


.percent-increase , .percent-decrease {
  color: green;
  height: 70px;
  text-align: center;
  background-color: #fff;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-content: center ;
  justify-content: space-around;
}
.percent-decrease {
  color: red;
}



.low-stock-header,
.top-selling-header {
  font-family: PoppinsBold;
  color: #6880fe;
  font-size: 1.3em;
  text-align: left;
  margin-bottom: 0;
  padding-bottom: 0;
}

.low-stocks,
.selling-products {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
  margin: 0;
}
/* .actual-low-stock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  background-color: #57b5e1;
  box-shadow: 0px 00px 5px #fcfcfc;
  border-radius: 8px;
  align-items: center;
  margin: 5px;
  color: #fcfcfc;
  border-bottom: 1px solid #6880fe;
  border-left: 3px solid #fff;
} */

/* .low-stock-name,
.top-product-name {
  font-family: PoppinsRegular;
  font-size: 1.5rem;
  padding-left: 5%;
  margin-top: 10px;
  color: #6880fe;
  align-self: center;
} */

.low-stock-number {
  font-family: PoppinsBold;
  color: #6880fe;
  font-size: 1.2 em;
  padding-right: 10%;

  align-self: center;
}

.top-selling {
  /* background-color: #fcfcfc; */
  height: 100%;
}
.actual-selling-product , .actual-low-stock{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  box-shadow: 0px 00px 5px #888;
  border-radius: 8px;
  align-items: center;
  margin: 5px;
  padding: 10px;

  background-color: #57b5e1;
}
/* .top-product-name {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: auto;
  margin-bottom: 30px;
} */
.NUMBERS {
  display: flex;
  flex-direction: column;
  justify-self: stretch;

}
.top-product-amount {
  font-size: 1rem;
  font-family: cursive;
}
.top-product-units {
  font-family: PoppinsBold;
  color: #6880fe;
  font-size: 1.2rem;
}

.top-selling .top-selling-header {
  font-size: 1.5 em;
  font-family: PoppinsBold;
}

.customerTable p {
  font-family: cursive;
  color: #6880fe;
  font-size: 1.2rem;
  text-align: left;
}

table {
  table-layout: fixed;
  width: 80%;
  /* height: 10%; */
  text-align: center;
  background-color: #fff;
  color: #6880fe;
  font-family: PoppinsRegular;
  border-collapse: collapse;
  /* border: 2px solid #6880fe ; */
}
tbody tr:nth-child(2n) td {
  background-color:#a3e2ff;
  /* opacity: 0.5; */
}
table td,
table thead {
  padding: 15px;
  border: 1px solid #ddd;
  /* text-align: center; */
}
/* try this */
@media screen and (min-width: 700px) {
  .black_white {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }

  .t-revenue {
    width: 70%;
    height: 500px;
  }
  thead th {
    background-color: #0072a7;
    color: #fff;
    padding: 30px;
  }
  table td {
    border: 0px;
  }
  /* .low-stock {
    width: 60%;
  } */

  .customerTable , .t-revenue {
    width: 60%;
    height: fit-content;
  }
  .customerTable p {
    width: 60%;
    text-align: center;
    font-weight: bold;
  }
  .top-selling ,.low-stock {
    width: 35%;
    height: 100%;
  }
 
}

@media screen and (max-width: 700px) {
  table thead {
    display: none;
  }
  table td,
  table thead {
    padding: 12px 15px;
  }
  tr {
    display: flex;
    flex-direction: column;
  }
  
}
