@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  /* background-image: linear-gradient(#5e90d6,#752c8c); */
}

body {
  background-image: linear-gradient(#2bbfd0, #9c89e7);
  font-family: "Poppins", sans-serif;
  color: white;
}

body h1 {
  color: white;
}
li,
a {
  font-family: PoppinsRegular;
  /* font-weight: 500; */
  font-size: 16px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* Header Section */

.splash-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1% 5%;
}

.splash-header h1 {
  font-size: 2rem;
  margin-right: auto;
  text-align: start;
  font-family: MerriweatherRegular;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  margin: 0 10px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  color: white;
}

/* .nav_links li a:hover{
  color: black;
} */

#pic_info {
  margin: 50px 0 50px 0;
  display: flex;
  flex-direction: column;
}

.div_right {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.div_right .image {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 10px 0 0 10px;
}

.splashimage {
  float: right;
  margin-left: 30px;
  height: 40%;
  width: 90%;
  text-align: right;
  border-top-left-radius: 1%;
  border-bottom-left-radius: 1%;
}

.ad {
  text-align: center;
  padding: 10%;
  color: white;
  width: 100%;
  box-sizing: border-box;
}
.ad h1 {
  text-align: center;
}
/* emojis Sections */

#emojis {
  padding: 5% 5%;
  color: white;
  text-align: center;
  line-height: 1.5;
  margin: 50px 0 15px 0;
  width: 100%;
  box-sizing: border-box;
}

.add_links li {
  display: inline-block;
  margin: 0 20px;
  color: white;
}

.add_links li div {
  line-height: 1.5;
}

/* About Section */
#About {
  margin: 20px 0 20px 0;
  padding: 5% 5%;
  color: white;
}
#About h2 {
  text-align: center;
}

.members_div {
  font-family: PoppinsRegular;
}

/* Footer Section */
.footer_section {
  padding: 5% 5%;
  text-align: center;
  color: white;
}

.contact_links li {
  display: inline-block;
  margin: 0 3px;
}

.contact_links li a {
  transition: all 0.3s ease 0s;
  color: white;
}

.contact_links li a:hover {
  color: black;
}

.Garage97 {
  margin-top: 20px;
}
@media screen and (min-width: 700px) {
  .div_right {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row-reverse;
  }

  .div_right .image {
    width: 70%;
    height: 100%;
    background: white;
    border-radius: 10px 0 0 10px;
  }
  .add_links {
    /* width:100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .emoji {
    width: 25%;
    margin: 0;
  }
  #emojis {
    box-sizing: border-box;
  }
}
