@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
   /* background-image: linear-gradient(#5e90d6,#752c8c); */
}

body{
  background-image:  linear-gradient(#2BBFD0, #9C89E7);
  font-family: 'Poppins', sans-serif;
  color: white;

}

body h1{
  color: white;
}
li,a{
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  color: #64C9CF;
  text-decoration: none;
  cursor: grabbing;
}

/* Header Section */

header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1% 5%;

}

header h1{
  font-size: 2rem;
  margin-right: auto;
  font-family: 'Poppins';
}

.nav_links{
  list-style: none;
}

.nav_links li{
  display: inline-block;
  margin: 0 10px;

}

.nav_links li a{
  transition: all 0.3s ease 0s;
    color: white;
}

.nav_links li a:hover{
  color: black;
}


#pic_info{
  margin: 50px 0 50px 0;
  display: flex;
  flex-direction: column;
}

.div_right{
  padding-top: 2%;
  text-align: center;
}

.splashimage{
  float: right;
  margin-left: 30px;
  height: 40%;
  width: 40%;
  text-align: right;
  border-top-left-radius:1%;
  border-bottom-left-radius: 1%;
}

.ad{
  text-align: center;
  padding: 10% 2%;
  color: white;
}
/* emojis Sections */

#emojis{
  padding: 5% 5%;
  color: white;
  text-align: center;
  line-height: 1.5;
  margin: 50px 0 15px 0;
}
.add_links li{
  display: inline-block;
  margin: 0 20px;
  color: white;
}

.add_links li div{
  line-height: 1.5;
}


/* About Section */
#About{
  margin: 20px 0 20px 0;
  padding: 5% 5%;
  color: white;
}


/* Footer Section */
.footer_section{
  padding: 5% 5%;
  text-align: center;
  color: white;
}


.contact_links li{
  display: inline-block;
  margin: 0 3px;

}

.contact_links li a{
  transition: all 0.3s ease 0s;
  color: white;
}

.contact_links li a:hover{
  color: black;
}

.Garage97{
  margin-top: 20px
}