.splash{
  height: 100%;
  background-color: #92a4ff;
  display: flex;
  flex-direction: column;

}

.first-row{
  
  display: grid;
  grid-auto-rows: minmax(200px,auto);
  

}


.button{
  background-color: #fdfdfd;
  border-radius: 29px;
  padding: 10px 20px;
  text-shadow: 0px 1px 0px ;
  font-family: PoppinsRegular;
  z-index: 3;
}
  
  .splash-logo{
    grid-row: 1/2;
    grid-column: 1/2;
    background-image: url('../Images/circle-cropped.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3

  }
  .buttonspace{
    display: grid;
    grid-column:8/9;
    grid-row: 1/2;
    
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    align-items: center;
    justify-items: first baseline;
    /* background-color: #92a4ff; */

  }
  .buttonspace > div{
   background-color: #fff;
   border-radius: 5%;
   padding: 5px 20px;
   z-index: 2;

  }
  .message {
   /* grid-column:5/6;
   grid-row: 2/4; */
   background-color: #fdfdfd;
   overflow: hidden;
   height: 50%;
   margin-left: 20%;
   margin-right: 10%;
   border-radius: 20px;
   z-index: 3;
   box-shadow: 0px 1px 0px;
    }

.bottom-curve{
  position: fixed;
  bottom: -150px;
  right: 700px;
  width: 100%;
  
}

.bottom-circle{
    position: fixed;
    bottom: -200px;
    right: -75%;
    width: 100%;
    z-index: 2;  }
  .curved-upper{
    position: fixed;
    top: 0px;
    right: 0;
    width: 100%;
    z-index: 0;
  }
 
  .message h1{
      
    width: 100%;
   padding: 10px 10px;
    font-family: PoppinsBold;
    color: rgb(3, 51, 66);
    margin: 10% ;
   
  }
.message p, .message h3{
    width: 60%;
    padding: 10px 10px;
    font-family: PoppinsRegular;
    margin-left: 15%;
}