/* base styles */

.stockListPage {
    height:100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}
.stock-body{
    height: 100vh;
    width: 100%;
    background-color: #f0f3f5;
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: start;
    margin-left: 5%;
    color: #273475;
    font-family: PoppinsRegular;

}



     
.actual_data,
.actual_data_2 {
    border-radius: 15px;
    text-decoration: none;
}


.left-stuck {
    position: sticky;
    width: fit-content;
    margin-left: 20px;
    padding: auto;


}

.divRight {
    margin-left: auto;
    display: flex;
    align-items: center;
    /* position: fixed;
     left: 350px; */
}

.close {
    justify-self: center;
    align-self: center;

}



/* mobile */
.header_grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 40px 20px;
    align-items: center;
    height: 50px;
    position: sticky;
    top: 0;
    left: 0;
    box-sizing: border-box;
    }

.edit_stockList button {
   
    border: none;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #888;
    padding:  10px 10px;
    background-color: #fff;
}

.list{
    height: 85vh;
    width: 95vw;
    margin-top: 0px;
    margin-left: 20px;
    scrollbar-width: thin;
    border-radius: 20px 0 0 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.mobile_stockList {
    height: 100%;
    width: 100%;
    border-radius: 20px 0 0 20px;
    background-color: #fff;
    padding: 20px 10px 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.mobile_stockList .stock-head{
    font-family: PoppinsBold;
    font-size: 1.2rem;
    color:#9c89e7;
}


.ad .add-button button {
    font-size: 2rem;
    color: #6842ff;
    border: none;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #888;
    padding:  0px 10px;
    background-color: #fff;
}

.table,.table_2{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.tableRow,.tableRow_2{
    width: 100%;
}
.tableHead,.actual_data,.tableHead_2,.actual_data_2{
    width: 100%;
    display: flex;
    font-family: PoppinsRegular;
    color: #6842ff;
    font-size: 0.9rem;
    padding-left: 10px;
}
.tableHead .qty,.actual_data .qty{
    text-align: center;
}
.tableHead_2 .product,.tableHead_2 .qty,.tableHead_2 .price,.actual_data_2 .stock_id,
.actual_data_2 .qty,.actual_data_2 .price
{
    width:33%
}
.tableHead .stock_id,.tableHead .qty,.actual_data .stock_id,.actual_data .qty{
    width: 20%;
}
.tableHead .date,.tableHead .stock,.actual_data .date,.actual_data .stock{
    width: 30%;
}
.actual_data,.actual_data_2{
    font-family: PoppinsRegular;
    color: #6842ff;
    box-sizing:border-box;
    background-color: #bab2f5;
    margin-bottom: 10px;
    padding: 10px 0;
    padding-left: 10px;
}


.tableRow .actual_data ,
  .tableRow_2 .actual_data_2{
    align-self: flex-end;
}

.Tfooter{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: #968ce6;
    font-family: PoppinsRegular;
    margin-top: auto;
}
.Tfooter span{
    margin-right: 5px;
}



#table-div,
.sidebar,
#table,
#sidebar,
.desktop-side-nav-bar,
.edit ,
.divdown{
    display: none;
}



/* desktop styles */

@media screen and (min-width:700px) {

    .header_grid,
    .left-stuck,
    .adderForMobStocks,
    .edit_stockList {
        display: none;
    }
    .stockListPage{
        width: 100vw;
    }
    .stock-body {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
    }

    .desktop-side-nav-bar {
        display: block;
    }

    .mobile_stockList{
        border-radius: 20px;
    }
   

    .divdown{
        display: block;
    }
    .divdown .ad .add-button button{
        font-size: 4rem;
        color: #6842ff;
        border: none;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0px 0px 5px #888;
        padding:  0px 15px;
        background-color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 30px;
        margin-right: 3rem;
          }

    .list{
        width: 70%;
        border-radius: 20px;
        height:90vh;
        margin-top: 30px;
    }


    .edit {
        

        display: block;
        width: 15%;
        height: fit-content;
        margin-top:20px;
        margin-right: 40px;
        
    }




    .edit button {
        padding: 20px;
        background-color: #fff;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 5px #888;
        margin: 10px;
       

    }

}