/* base styles */

.stockListPage {
    min-width: 150vw;
    min-height: 100vh;
    background-color: #f0f3f5;
    font-family: PoppinsRegular;
    justify-content: flex-end;

}

h1 {
    text-align: start;
    margin-left: 5%;
    color: #273475;
    font-family: PoppinsRegular;

}



     
.actual_data {
    background-color: #e2e7f9;
    border-radius: 30px;
    text-decoration: none;
}


.left-stuck {
    position: sticky;
    width: fit-content;
    margin-left: 20px;
    padding: auto;


}

.divRight {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.close {
    justify-self: center;
    align-self: center;

}


/* mobile */
.header_grid {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-top: 20px;
    align-items: center;

}

/* .edit_stockList {
    position: sticky;
    width: fit-content;
    left:300px;

} */
.edit_stockList button {
    padding: 20px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #888;
    margin: 10px;
    position: sticky;
}

/* .adderForMobStocks {
    position: sticky;
    left:370px;
    width: fit-content;
    height: fit-content;
    padding-left: 20px;
  
    
} */



.mobile_stockList {
    display: block;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    margin: 25px 5%;
    border-radius: 20px;
    height: fit-content;
    width: 600px;
    background-color: #fff;
    overflow-x: auto;
}

.ad .add-button button {
    font-size: 3rem;
    color: #6842ff;
    border: none;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #888;
    padding: 5px 18px;
    margin: 10px;
    position: sticky;

}

table th,
.tableHead,
.actual_data {
    padding: 20px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    /* text-align: left; */
    font-family: PoppinsBold;
    color: #273475;
    /* align-items: flex-start; */
    margin-bottom: 20px;
}

.tableRow {
    display: grid;
    grid-template-columns: 33fr 1fr;
   align-items: center;
    padding: 10px 30px;
    color: #000;
    font-family: PoppinsRegular;
}

.tableRow .actual_data {
    align-self: flex-end;
}

.Tfooter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    cursor: grabbing;
}

.greater,
.lesser {
    color: #6880fe;
    padding: 2px;
    margin: 2px;
}

.page_id {
    width: 34px;
    background-color: #6880fe;
    text-align: center;
    border-radius: 7px;
}

#table-div,
.sidebar,
#table,
#sidebar,
.desktop-side-nav-bar,
.edit ,
.divdown{
    display: none;
}



/* desktop styles */

@media screen and (min-width:700px) {

    .header_grid,
    .mobile_stockList,
    .left-stuck,
    .adderForMobStocks,
    .edit_stockList ,
    .stockListPage{
        display: none;
    }
    .stockListPage{
        min-width: 100vw;
    }
    .stock-body {
        display: flex;
        flex-direction: row-reverse;
    }

    .desktop-side-nav-bar {
        display: block;
    }

    .table-div {
        display: grid;
        width: 70%;
        background-color: #f0f3f5;
        height: 100%;
        background-color: #fff;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        border-radius: 20px;
        background-color: #fff;
        border-collapse: collapse;

    }

    .divdown {
       position: sticky;
        display: flex;
        flex-direction: column;
        width: 15%;
        height: fit-content;
        top: 40px;
    }






    /* .table{    
    
       
       
    
    }
     */

    .edit {
        position: sticky;

        display: block;
        width: 15%;
        height: fit-content;
        top: 40px;
    }



    .edit button {
        padding: 20px;
        background-color: #fff;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 5px #888;
        margin: 10px;
        position: sticky;
        top: 40px;

    }


   

    .table-div:last-child {
        position: absolute;
        bottom: 5px;
    }








}