@font-face {
    font-family: PoppinsRegular;
    src: url('./Fonts/Poppins/Poppins-Regular.ttf') format('ttf');
        }

@font-face {
    font-family: PoppinsBold;
    src: url('./Fonts/Poppins/Poppins-Bold.ttf') format('ttf');
}

@font-face {
    font-family: PoppinsLight;
    src: url('./Fonts/Poppins/Poppins-Light.ttf') format('ttf');
}