@import url("./css/stocks.css");
@import url('./css/fonts.css');
@import url('./css/login_register.css');
@import url('./css/side-nav-bar.css');
@import url('./css/main.css');
@import url('./css/splash.css');
@import url('./css/addstocks.css');






body {
  margin: 0;
  padding: 0;
  display: flex;
}



#root {
  height: 100vh;
  width: 100%;
}

.container-main{
  margin: 0;
  width: 100%;
  padding: 0;
  height: 100%;
}
/* Background for splash page */

/* Side Nav Bar */


/* Businesses Page */
