body{
  background-color: #92a4ff;

}

.first-row{
  background-color: #92a4ff;
  
  display: grid;
  grid-auto-rows: minmax(200px,auto);
  opacity: 0.5;

}


.first-row  div{
  background-color: #92a4ff;
 z-index: 1;

  }
 
  
  .splash-logo{
    grid-row: 1/2;
    grid-column: 1/2;
    background-image: url('./Images/circle-cropped.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  .buttonspace{
    grid-column:3/5;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    align-items: center;
    justify-items: first baseline;
    background-color: #92a4ff;

  }
  .buttonspace > div{
   background-color: #fff;
   border-radius: 5%;
   padding: 5px 20px;
   z-index: 2;

  }
  .message {
   grid-column:2/3;
   grid-row: 2/4;
    }

.bottom-curve{
  position: fixed;
  bottom: -150px;
  right: 700px;
  width: 100%;
  
}

.bottom-circle{
    position: fixed;
    bottom: -200px;
    right: -75%;
    width: 100%;
    z-index: -1;  }
  .curved-upper{
    position: fixed;
    top: 0px;
    right: 0;
    width: 100%;
    z-index: -1;
  }
  .message h1{
      
    width: 00.5rem;
   margin : 70px;

  font-family: PoppinsBold;
  color: rgb(3, 51, 66);
 
}
.message p,h3{
  width: 60%;
 display: block;
  margin: auto;
  padding: auto;
  font-family: PoppinsRegular;
}